@media screen and (max-width: 960px) {
    .Login {
      background: url('../images/wallpaper_bb.jpg') center center/cover no-repeat;
      padding: 60px 0;
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
      object-fit: contain;
    }
  
    .containerPrincipal {
      position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid blue;
        padding: 40px;
        background-color: white;
        object-fit: contain;
        display: flex;
    flex-direction: column;
      object-fit: contain;
    }
    
    .containerSecundario{
      text-align: center;
      object-fit: contain;
    }
  }